{% extends 'index/base_header.html' %}
{% load static %}

{% block title %}Модерация ИИ проверок{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'administrations/registration_requests.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Roboto+Slab:wght@400;600;700&display=swap"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
{% endblock %}

{% block content_block_0 %}{% endblock %}

{% block content_block_1 %}{% endblock %}
